@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?-y2tlm1');
	src:url('fonts/icomoon.eot?#iefix-y2tlm1') format('embedded-opentype'),
		url('fonts/icomoon.woff?-y2tlm1') format('woff'),
		url('fonts/icomoon.ttf?-y2tlm1') format('truetype'),
		url('fonts/icomoon.svg?-y2tlm1#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-uniE600:before {
	content: "\44";
}
.icon-uniE6002:before {
	content: "\42";
}
.icon-remove:before {
	content: "\54";
}
